@{
    ViewBag.Title = "Laporan Bulanan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<form action="/Document/LaporanBulan" method="get">
    <fieldset>
        <div class="row-cols-sm-2">
            Bulan <select id="bulan" name="bulan">
                <option selected value=""></option>
                <option value="1">Januari</option>
                <option value="2">Februari</option>
                <option value="3">Maret</option>
                <option value="4">April</option>
                <option value="5">Mei</option>
                <option value="6">Juni</option>
                <option value="7">Juli</option>
                <option value="8">Agustus</option>
                <option value="9">September</option>
                <option value="10">Oktober</option>
                <option value="11">Nopember</option>
                <option value="12">Desember</option>
            </select>
            <input type="number" maxlength="4" placeholder="4 digit tahun" id="tahun" name="tahun" class="form-control-sm"/>
            <button type="submit" class="btn-sm btn-primary">Lihat</button>
        </div>
    </fieldset>
</form>
<h3>Laporan Bulan: @ViewBag.nama</h3>
@Html.Partial("_DocumentReport")