@{
    ViewBag.Title = "Home Page";
}

Panduan Pengguna:
<ul>
    <li>
        Input Dokumen Baru (Harian)
        <ol>
            <li>Pada Menu utama, arahkan mouse ke menu "Data Masukan"</li>
            <li>Pilih Input Dokumen</li>
            <li>
                Masukkan data;
                <ul>
                    <li>Nomor Dokumen       : Merupakan Nomor PIB, bisa diisi 6 digit maupun kurang</li>
                    <li>Tanggal Dokumen     : Merupakan Tanggal PIB silakan klik pada kolom dan pilih tanggal</li>
                    <li>Nama Importir       : Nama Perusahaan/Individu Pemilik barang pada dokumen PIB, dapat digunakan huruf besar atau kecil</li>
                    <li>Tanggal Pelaporan   : Tanggal pemeriksaan fisik/pembuatan LHP, diisi dengan klik pada kolom dan pilih tanggal</li>
                    <li>Status              : Silakan pilih status lhp yang dikerjakan sesuai pilihan</li>
                    <li>Keterangan          : Diisi Catatan tambahan (bila diperlukan)</li>
                </ul>
            </li>
        </ol>
    </li>
    <li>
        Edit Dokumen (Harian)
        <ol>
            <li>Pilih menu "Data Masukan" > Lalu pilih "Lihat Harian"</li>
            <li>Pada bagian kanan dokumen, klik edit</li>
            <li>Ubah data sesuai keperluan</li>
            <li>Klik Simpan jika ingin menyimpan perubahan</li>
            <li>Untuk membatalkan silakan klik "Kembali Ke menu awal"</li>
        </ol>
    </li>
    <li>
        Menambahkan Pegawai Baru
        <ol>
            <li>Klik menu "Laporan" pilih "Semua Pegawai"</li>
            <li>Pada bagian kiri atas (tabel) klik "Tambah Pegawai"</li>
            <li>
                Isi data Pegawai <ul>
                    <li>Nama Pegawai : Diisi nama pemeriksa</li>
                    <li>Pegawai Aktif :Jika pegawai sudah aktif, silakan centang/beri tickmark. Dapat dilakukan edit nanti</li>
                    <li>Pegawai Cuti :Jika pegawai tidak dalam cuti, kosongkan. jika masih dalam status cuti, beri tickmark/centang</li>
                    <li>Klik "Simpan"</li>
                </ul>
            </li>
        </ol>
    </li>
</ul>
